h1,p,li, h3 {
	font-family: 'Raleway';
}
.text-muted {
	color: #C71585;
	font-family: 'Roboto';
	font-weight: 900;
}
.jumbotron {
	clear: both;
}
#pic {
	width: 30%;
}
.btn1 {
	float: left;
	margin-left: 30%;
}
.btn2 {
	float: right;
	margin-right: 30%;
}
.col-lg-6 {
     clear: both;
     width: 100%;
}
body {
	background-repeat: no-repeat;
	background-size: cover;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
